$backgroundColor-Dark: #27233A;
$backgroundColorSecond-Dark: #505168;
$backgroundColorThird-Dark: #585c6b;
$backgroundColorFour-Dark: #7D869C;
$gameBackground-Dark: #4F5D75;
$borderColor-Dark: #40434E;
$textColor-Dark: whitesmoke; 


$backgroundColor-Light: #f5cac5;
$backgroundColorSecond-Light: #ffddd2;
$backgroundColorThird-Light: #fcd5cf;
$backgroundColorFour-Light: #ffe5d9;
$borderColor-Light: #f8cfc8;
$gameBackground-Light: #ffaea8;
$textColor-Light: black; 

.noSelectText, br {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    .right {
        float: right;
    }
    header {
        width: 100vw;
        height: 5vh;
        a {
            margin-left: 15px;
            width: 60px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            button {
                cursor: pointer;
                border-radius: 5px;
                border: none;
                padding: 5px;
            }
        }
    }
    .mainQueue {
        width: 100vw;
        height: 95vh;
        aside {
            display: inline-block;
            width: 20%;
            height: 100%;
            float: right;
            text-align: center;
        }
        main {
            float: left;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            width: 80%;
            height: 100%;
        }
        .player {
            width: 80%;
            height: 80%;
            justify-self: center;
            align-self: center;
            border-radius: 35px;
            overflow: hidden;
            .header {
                width: 100%;
                height: 45%;
                display: inline-block;
                overflow: hidden;
                img {
                    width: 35%;
                    max-height: 100%;
                    overflow: hidden;
                    border-radius: 0px 0px 15px 0px;
                }
                section {
                    width: 65%;
                    float: right;
                    h1 {
                        font-size: 2em;
                        text-align: center;
                        width: 100%;     
                        margin-block-start: 1em;
                        margin-block-end: 1em;               
                    }
                    div {
                        float: right;
                        width: calc(100% - 20px);
                        margin: 10px;
                    }
                }

            }
            .stats {
                height: 45%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 15px;
                width: 100%;
                div {
                    font-size: 1.5em;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
    .asideBuild {
        position: fixed;
        height: 100vh;
        width: 15vw;
    }
    #pickedUp {
        position: fixed;
        table {
            background-color: white;
            td {
                border: 1px solid black;
            }
            padding: 0px;
            margin: 0px;
        }
    }
    .rotation90 {
        transform: rotate(90deg);
    }
    .whileShip, .solidShip {
        background-color: black;
    }
    .itsPlaced {
        background-color: grey !important;
    }
    .displayOff {
        display: none;
    }
    .gameReturnBlock, .blockInfo {
        width: 40%;
        height: 4vh;
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        div {
            display: inline-block;
        }
    }
    .batteField {
        aside {
            width: 18vw;
            height: 95vh;
            float: left;
        }
        section {
            float: right;
            width: 80vw;
            display: grid;
            height: 95vh;
            grid-template-columns: 0.5fr;
            table {
                width: 90%;
                margin: 5%;
                td {
                    margin: 0;
                    padding: 0;
                    border: 1px solid black;
                }
                .headerTable {
                    text-align: center;
                    font-size: 150%;
                }
                .cross {
                    background-image: url("../../photos/ico/close_black_24dp.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .circle {
                    background-image: url("../../photos/ico/brightness_1_black_24dp.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

.nightMotive {
    background-color: $backgroundColor-Dark;
    header {
        background-color: $backgroundColorSecond-Dark;
        a {
            button {
                background-color: $backgroundColorFour-Dark;
                color: $textColor-Dark;
            }
        }
    }
    .mainQueue {
        aside {
            background-color: $backgroundColorThird-Dark;
        }
        .player {
            background-color: $backgroundColorSecond-Dark;
        }
    }
    .buildFleet {
        #busyShips {
            background-color: $backgroundColorFour-Dark;
        }
        table {
            td {
                border: 1px solid black;
            }
            .ship {
                background-color: white;
            }
        }
    }
    .asideBuild {
        background-color: $backgroundColorFour-Dark;
    }
    .pickedUp{ 
        background-color: $backgroundColorFour-Dark !important;
    }
    .batteField {
        table {
            td {
                background-color: $backgroundColorFour-Dark;
            }
        }
        aside {
            background-color: $backgroundColorFour-Dark;
        }
    }
}

.dayMotive {
    color: black;
    background-color: $backgroundColor-Light;
    header {
        background-color: $backgroundColorSecond-Light;
        a {
            button {
                background-color: $backgroundColorFour-Light;
                color: $textColor-Light;
            }
        }
    }
    .mainQueue {
        aside {
            background-color: $backgroundColorThird-Light;
        }
        .player {
            background-color: $backgroundColorSecond-Light;
        }
    }
    .buildFleet {
        #busyShips {
            background-color: $backgroundColorFour-Light;
        }
        table {
            td {
                border: 1px solid black;
            }
            .ship {
                background-color: white;
            }
        }
    }
    .asideBuild {
        background-color: $backgroundColorFour-Light;
    }
    .pickedUp{ 
        background-color: $backgroundColorFour-Light !important;
    }
    .batteField {
        table {
            td {
                background-color: $backgroundColorFour-Light;
            }
        }
        aside {
            background-color: $backgroundColorFour-Light;
        }
    }
}
.changeMotive {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(100% - 75px);
    left:calc(100% - 75px);
    background-color: brown;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}